
  <div class="card">
      <img src="assets/images/house_image_1.png" alt="">
      <div class="card-body p-2">
        <ul class="list-inline text-center">
          <li class="list-inline-item"> <button class="btn btn-primary" routerLink="property-details/{{property.id}}" >Details</button> </li>
          <li class="list-inline-item"> <button class="btn btn-primary" routerLink="property-details" >Edit</button> </li>
        </ul>
        <h4>{{property.name}}</h4>
        <h4>{{property.type}}</h4>
        <h4>{{property.price}}</h4>
      </div>
    </div>
